




<div class="container">
    
    <section class="header">
<p><a href="#">Registration</a></p>
<p> <a href="#">Login</a> </p>
<p> <a href="#">Home</a> </p>
</section>


<section class="cards">

  {{#each dbThemes}}

  <a class="theme" href="/card?id={{this.id}}">

    {{this.title}}

  </a>

  {{/each}}


{{!-- <div class="first">
<a href="#" class="link-success">{{dbThemes}}</a>
</div>

<div class="second">
<a href="#" class="link-warning">Pandas</a>
</div>

<div class="third">
<a href="#" class="link-info">Human</a>
</div> --}}

</section>



</div>
